<header class="main-header">
  <div class="logo">
    <a class="logo" href="{{ site.baseurl }}/">Portfolio</a>
  </div>

  <nav class="nav-links">
    <a href="{{ site.baseurl }}/">Home</a>
    <div class="dropdown">
      <a href="{{ site.baseurl }}/articles/">Projects</a>
      <div class="dropdown-content">
        <a href="{{ site.baseurl }}/articles/amogus-script/">Amogus Script</a>
        <a href="#">Style</a>
        <a href="#">Tech</a>
      </div>
    </div>

    <a href="{{ site.baseurl }}/shop/">Shop</a>
    <a href="{{ site.baseurl }}/about/">About me</a>
    <a href="{{ site.baseurl }}/contact/">Contact</a>
  </nav>
</header>